# SERVIDOR
PORT = 3400
CORS_ALLOWED_ORIGINS = ["http://localhost:4200"]
NODE_ENV = development
TZ = America/Lima

# BASE DE DATOS
DB_USER = usuario_bd
DB_PASSWORD = contrasenia_bd
DB_HOST = localhost
DB_PORT = 5432
DB_NAME = nombre_bd
DB_URL = postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME} # For prisma ORM

# DIRECTORIO ARCHIVOS
UPLOADS_FILES_PATH = /ruta/carpeta/archivos
LOGS_FILES_PATH = /ruta/carpeta/logs
