# Server options
PORT = 3500
CORS_ALLOWED_ORIGINS = ["http://localhost:4200","http://localhost:5173"]
NODE_ENV = development
TZ = America/Lima

# Database
DB_USER = usuario_bd
DB_PASSWORD = contrasenia_bd
DB_HOST = localhost
DB_PORT = 5432
DB_NAME = nombre_bd
DB_URL = postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME} # For prisma ORM
